{% extends 'base.html' %}
{% block title %}<title>About</title>{% endblock %}
{% load static %}
{% block content %}
<style>
.container{
    text-align: center;
}
    h1 {
  text-align: center;
  color: red;
}

body {
  color: red;
  font-family: Helvetica;
}

body {
  background: #D2F4FD;
}

table {
  border-collapse: collapse;
  margin-left: 33%;
  margin-top: 10px;
}

table, td, th {
  border: 2px solid black;
  padding: 10px;
}

th {
  background-color: red;
  color: white;

}
.countrie{
 text-align:left;
 width: 600px;
 margin: auto;
 float: left;
 maximal-width: 600px;
 margin-left: 20px;
 }
h3{
 text-align: center;
 color: blue;
 }
 ol{
 color: black;
}
li{
list-style-type: none;
}
</style>
<div class="container">
    <h1><big> Jizzakh Fast Food About </big></h1>
<p> Burgers is a food found in Italy. Burger consists of 7% Vitamin A, 18% Calciam, 0% Vitamin D, 2% Vitamin C and 13% Iron.

       <h3> Interesting facts about<em><b> Jizzakh Fast Food About </b></em></h3>
  <table>
    <tr>
      <th>Fast Food Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone number</th>
    </tr>
    <tr>
      <td> Pesto </td>
      <td> Veggies </td>
      <td> Salsa </td>
      <td> Roma Tomatoes </td>
    </tr>
  </table>

  <div class="countrie">
      <ul>
      <li><h3> China </h3></li>
  <ul>
     <li> Even though Chinese people aren’t famous for loving the meat-cheese-topping combination, there has been a growing demand for fast food in this country. </li>
  </ul>
    <li> <h3>Japan</h3> </li>
     <li> Japanese people follow the fast food trend, and consume pizza at least once a week on average. </li>
    </ul>
    <li> <h3>Austrailia </h3></li>
    <ul>
      <li> Every month in Australia, around 52 million customers get into fast food restaurants and eat pizzas, </li>
    </ul>
    <li> <h3>United Kingdom </h3></li>
    <ul>
      <li> The United Kingdom loves pizza, and fast food in general. More than half of the whole UK consumes pizza at least once in ten days. </li>
    </ul>
    <li> <h3>USA</h3> </li>
    <ul>
      <li>  The USA is second on the list of countries that consume the most pizza. </li>
    </ul>
    <li> <h3>Italy</h3> </li>
    <ul>
      <li> The birthplace of pizza is only in fifth place on this list of countries that consume the most pizza, how strange is that?! </li>
    </ul>
    <li> <h3>United Kingdom </h3></li>
    <ul>
      <li> The United Kingdom loves pizza, and fast food in general. More than half of the whole UK consumes pizza at least once in ten days. </li>
    </ul>
    <li> <h3>Italy</h3> </li>
    <ul>
      <li> The birthplace of pizza is only in fifth place on this list of countries that consume the most pizza, how strange is that?! </li>
    </ul>
  </div>
  <img style="margin-top: 30px;" src= http://www.mysticpizza.com/admin/resources/pizza-pepperoni-w857h456.jpg width= 500 />
  <p><em> "Waiter will my pizza be long". "No sir it will be round".</em></p>
  <img style="width:500px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUt0qQEzSsO6gR4XqNRW6SCoGDV4pxYLaQMg&usqp=CAU" alt="">
{% endblock %}
</div>




